$phone: 700px;
$tablet: 900px;
$desktop: 1200px; 

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: default;
    overflow-x: hidden;
    position: relative;
    align-items: center;
}

.App-header {
    position: relative;
    width: 100vw;
    margin-top:0.5em;
    padding-top: 0.8em; 
    padding-bottom: 0.4em;
    font-size: 4em;
    background: black;
    color: white;
    z-index: 1;
    font-family: 'Overlock SC', cursive;
    font-weight: 500;
}

#tandem-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

// start pg

#start-bg {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    padding-top: 2em;
    min-height: 60vh;
    z-index: 0;
}

#start {
    width: 40vw;
    position: absolute;
    top: 60vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 600;
    color: white;
    background-color: grey;
    padding:0.3em;
    box-sizing: border-box;
    border: solid grey;
}

#start:hover {
    box-sizing: border-box;
    background-color: black;
    border: solid lightblue;
    color: lightblue;
}


// questions and answer pg


.qna-container {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: calc(100% - 8rem);
}

.qna {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.score-wrapper {
    position: relative;
    min-width: 10rem;
    padding: 0;
    min-height: 100%;
}

.score {
    margin-top: 30vh;
    left: 0;
}

.question-container {
    margin:0;
}

.answers-container {
    display: grid;
    grid-row: 2;
    width: 100%;
}


// div buttons

.div-button {
 cursor: pointer;
 font-family: 'Cabin', sans-serif;
 font-size: 1.2em;
 font-weight: 600;
 color: rgb(54, 54, 54);
}

.div-button:hover {
    background-color: lightseagreen;
    color: white;
}

#skip, #complete, #next {
    box-sizing: border-box;
    padding: 1em;
    width: 100%; 
    min-height: 120%; 
    margin-top: 3em;
}



// small height

@media screen and (max-height: 660px) {
    .App-header {
        display: none;
    }
    .question-container {
        margin-top: 2vh;
    }
};

// mobile view

@media screen and (max-width: 700px) {

    .App-header {
        width: 100vw;
        margin-top:0.5em;
        padding: 0.5em;
        font-size: 1em;
        background: black;
        color: white;
    }
    .qna-container {
        flex-direction: column;
    }

}

// desktop view


@media screen and (min-width: 1200px) {

    .qna-container {
        width: 1000px;
    }
}