.review {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2em;
    margin-bottom: 3em;
    width: 70vw;
}
.review-header {
    font-size: 1.4rem;
    margin-top: 2em;
    padding: 10px;
}


//new round button

#reset {
    box-sizing:border-box;
    position: relative;
    font-size: 1.2em;
    width: 300px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.6em;
    color: white;
    background-color: rgb(44, 141, 128);
    z-index: 5;
    border: solid transparent;
}

#reset:hover {
    box-sizing: border-box;
    background-color: rgb(0, 155, 70);
    border: solid rgb(0, 155, 70);
    color: rgb(255, 255, 255);
}

// score

.review-score {
    font-weight: bold;
}

// qna section

.review-qna {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.6em;
    grid-gap: 5px;
}

.r-question-container {
    margin: 2em 0;
}

.answers-in-review {
    cursor: default;
}
// small height

@media screen and (max-height: 660px) {
    #reset {
        margin-top: 2em;
    }
};

//mobile view
@media screen and (max-width: 700px) {

    .review {
        width: 90%;
    }
    .review-qna {
        display: flex;
        flex-direction: column;
        font-size: 0.6em;
    }

    #reset {
        margin-top: 0.2em;
    }
}

//desktop view

@media screen and (min-width: 1200px) {
    .review {
        width: 1000px;
    }

    .review-qna {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: 0.6em;
        grid-gap: 5px;
    }

}