
.score {
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    width: 6rem;
    padding: 2rem;
}
#score-text {
    border-bottom: solid black;
    margin:  5px;
    padding: 10px;
}
#score-value {
    margin:  5px;
    padding: 10px;
}